<div class="container well">
    <div class="row">
        <a href="https://github.com/jboss-jdf/ticket-monster"><img style="float: right;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

        <div class="jumbotron">

        <img src="resources/img/splash-ticketmonster.png" width="40%" style="float: left"/>
        <p><h1 class="special-title">ALAIN TICKET</h1></p>
        <p><h1 class="special-title">A JBOSS Example.</h1></p>
        <p>
            TicketMonster is an online ticketing demo application that gets you started with
            JBoss technologies, and helps you learn and evaluate them.
        </p>

        <p><a class="btn btn-primary" href="#events">Buy tickets now</a></p>
    </div>
    </div>
    <div class="row">

        <div class="col-md-4">

            <h3 class="page-header">
            <a href="http://jboss.org/jdf" rel="tooltip" title="Learn more about the JBoss Developer Framework!">A <img src="resources/img/jdf_mark_50px.png" width="40px" align="bottom"/> showcase</a>
            </h3>
                <p>TicketMonster's architecture uses the best technologies that make up the <a href="http://jboss.org/jdf" rel="tooltip" title="Learn more about the JBoss Developer Framework!"><b>JBoss
                    Developer Framework</b></a>. Learn how easy it is to harness the power of
                    <b>Java EE</b> with <b>HTML5 + REST</b>.</p>

        </div>

        <div class="col-md-4">
            <div class="">
                <a href="index.html" rel="tooltip" title="See the mobile version of TicketMonster" ><h3 class="page-header"><img src="resources/img/glyphicons_163_iphone.png"/> Mobile-ready</h3></a>

                <p>When you interact with TicketMonster on a <a href="index.html" rel="tooltip" title="See the mobile version of TicketMonster"><b>mobile</b></a> device, you will get
                    a mobile-specific interface. Learn how easy it is to write Java EE applications that
                    can
                    accommodate desktop and mobile clients.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="">
                <h3 class="page-header"><img src="resources/img/glyphicons_232_cloud.png"/> Cloud-ready</h3>

                <p>A deployment of TicketMonster runs continuously <a href="http://ticketmonster-jdf.rhcloud.com" title="See TicketMonster run in the cloud!" rel="tooltip"><b>in the cloud</b></a> on the <a href="https://openshift.redhat.com" rel="tooltip" title="Learn more about OpenShift!"><b>OpenShift</b> platform</a>.
                    Learn how easy it is to write Java EE applications that can deploy both locally and in
                    the cloud.</p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="">
                <a href="https://github.com/jboss-jdf/ticket-monster" rel="tooltip" title="See the source code in GitHub"><h3 class="page-header">Fork it on <img src="resources/img/GitHub_Logo.png"/></h3></a>

                <p>TicketMonster is available on <a href="https://github.com/jboss-jdf/ticket-monster" rel="tooltip" title="See the source code in GitHub"><b>GitHub</b></a>. Within a click,
                you can get the source code, build it and run it!</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="">
                <a href="http://www.jboss.org/jdf/examples/get-started/" rel="tooltip" title="Get started with the tutorial!"><h3 class="page-header"><img src="resources/img/glyphicons_351_book_open.png"/>  Learn with it</h3></a>

                <p>TicketMonster is accompanied by a <a href="http://www.jboss.org/jdf/examples/get-started/" rel="tooltip" title="Get started with the tutorial!"><b>tutorial</b></a> that
                walks your through the application architecture. Read it to learn
                how the application is built.Or even build it yourself
                following our instructions.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="">
                <h3 class="page-header"><img src="resources/img/glyphicons_019_cogwheel.png"/> Customize it</h3>

                <p>TicketMonster a good example that you can follow, but you
                can also use the predefined application structure to <b>implement your
                 own use cases</b> and test your ideas, and to contribute back to the <a href="http://www.jboss.org/jdf/forums/" rel="tooltip" title="Engage in the discussion about JBoss Developer Framework!"><b>community</b></a>
                    with fixes and extensions.
                </p>
            </div>
        </div>
    </div>

</div>
